<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GotGLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CotGBrowser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <log4net debug="false">
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <file type="log4net.Util.PatternString" value="./Log/Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Size"/>
      <param name="MaxSizeRollBackups" value="20"/>
      <param name="MaximumFileSize " value="100MB"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %property{Login} %-5p %c{1}:%L - %m%n"/>
      </layout>
    </appender>
    <logger name="NHibernate">
      <level value="WARN"/>
    </logger>
    <logger name="NHibernate.SQL">
      <level value="WARN"/>
    </logger>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="rollingFile"/>
    </root>
  </log4net>
  <applicationSettings>
    <GotGLib.Properties.Settings>
      <setting name="MaxInterceptedDeadlocks" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MinDeadlockSleep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxDeadlockSleep" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="EnableNHDiag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DBUserName" serializeAs="String">
        <value>cotg_player_user@390wesu78</value>
      </setting>
      <setting name="DBPass" serializeAs="String">
        <value>ak3hhfgbV5Ffr2HuPDEdfBgDzYW0No+Z5X4edtcuV5HEXxxF90TmU4vid1tcZaYUD096nKpD6pE28isWOV1DuGehWvq2a1H/hKE3PKk3SIH7eoDVYGenypDXmogEGa6cLd0E+Jmvh0NFEZuEFehTxA==</value>
      </setting>
      <setting name="DBHost" serializeAs="String">
        <value>390wesu78.database.windows.net</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>CotG</value>
      </setting>
      <setting name="EncryptionAlgorithm" serializeAs="String">
        <value>Rijndael</value>
      </setting>
    </GotGLib.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <CotGBrowser.Properties.Settings>
      <setting name="ClearCache" serializeAs="String">
        <value>False</value>
      </setting>
    </CotGBrowser.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  
</configuration>
