<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GotGLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <GotGLib.Properties.Settings>
      <setting name="MaxInterceptedDeadlocks" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="MinDeadlockSleep" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="MaxDeadlockSleep" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="EnableNHDiag" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DBPort" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DBUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="DBPass" serializeAs="String">
        <value />
      </setting>
      <setting name="DBHost" serializeAs="String">
        <value>(localdb)\ProjectsV12</value>
      </setting>
      <setting name="DBName" serializeAs="String">
        <value>CotG</value>
      </setting>
      <setting name="EncryptionAlgorithm" serializeAs="String">
        <value>Rijndael</value>
      </setting>
    </GotGLib.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
</configuration>